@charset "utf-8";
@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* 공통설정 */
body {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--main-black);
  letter-spacing: -1px;
  line-height: 1.3;
}
.container {
  width: 100%;
  height: auto;
}
h2 {
  font-size: 40px;
  font-weight: 600;
}
h3 > a {
  font-size: var(--xl-font-size);
  font-weight: 500;
}
.con {
  width: 1400px;
  height: auto;
  margin: 0 auto;
}
p {
  font-size: var(--ml-font-size);
  color: var(--sub-text-color);
}
.sub_text {
  color: var(--sub-text-color);
  font-size: var(--ml-font-size);
  margin-bottom: 22px;
}
/* 공통설정끝 */

/* 헤더 */
header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
header .con {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
/* 로고 */
h1 {
  width: 123px;
  align-self: center;
}

/* 메뉴 */
#gnb {
  width: fit-content;
  height: 100%;
}
#gnb > ul {
  width: fit-content;
  /* 마우스 올리면 2차메뉴 노출 되어야해서 auto */
  height: auto;
  display: flex;
  gap: 40px;
  line-height: 80px;
  text-align: center;
}
#gnb > ul > li {
  /* fit-content 하면 글자 긴 애들은 2줄로 나와서 고정시킴 */
  width: 100px;
  position: relative;
}
/* 밑줄 */
#gnb > ul > li > a {
  transition: 0.3s;
  position: relative;
}
#gnb > ul > li > a::after {
  content: "밑줄";
  font-size: 0;
  display: block;
  position: absolute;
  bottom: -50;
  width: 0;
  height: 2px;
  background-color: var(--point-color);
  transition: 0.3s;
  z-index: 99;
}
#gnb > ul > li:hover ::after {
  width: 100%;
}
/* 밑줄 */

#gnb > ul > li > a {
  display: block;
  transition: 0.3s;
  font-weight: 500;
}
#gnb > ul > li:hover > a {
  color: var(--point-color);
}
/* 2차메뉴 */
.submenu {
  width: 100vw;
  height: 0;
  position: absolute;
  top: 70px;
  left: 0;
  transition: 0.5s;
  /* 메인보다 더 위에 올라오게 하려고 z-index줌 */
  z-index: 1000;
  /* 2차메뉴 숨기기, height: 0 이라 히든하면 안보임 */
  overflow: hidden;
  display: flex;
  gap: 40px;
}
.submenu > li {
  height: 100%;
  width: fit-content;
}
.submenu > li > a {
  display: block;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 500;
}
.submenu > li:hover > a {
  color: var(--point-color);
}
#gnb > ul > li:hover .submenu {
  height: 60px;
}

/* submenu뒤의 전체 영역 배경 */
#gnb::after {
  content: "submenu-background";
  font-size: 0;
  width: 100vw;
  height: 0;
  position: absolute;
  left: 0;
  transition: 0.5s;
  background-color: #fff;
}
/* #gnb에 마우스 오버시 ::after가 내려옴 */
#gnb:hover::after {
  height: 60px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}
/* chips (로그인, 마이페이지, 예약내역) */
.header_chips {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header_chips p > a {
  font-size: var(--xs-font-size);
  padding: 8px 20px;
  border-radius: 50px;
  background-color: #fff;
  color: var(--point-color);
  border: 1px solid var(--point-color);
  transition: 0.2s;
}
.header_chips p:hover > a {
  background-color: var(--point-color);
  color: #fff;
  border: 1px solid transparent;
}
.mobile_icon {
  display: none;
}

/* 모바일 햄버거 버튼 */
#hamburger-menu {
  z-index: 9999;
  display: none;
  position: absolute;
  top: 80px;
  right: 0px;
  width: 60%;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 50px;
  box-sizing: border-box;
}
#hamburger-menu ul > li {
  display: flex;
  align-items: center;
}
#hamburger-menu ul > li::after {
  content: "세모";
  font-size: 0;
  display: block;
  width: 8px;
  height: 8px;
  margin-left: auto;
  margin-top: 8px;
  border: solid var(--main-black);
  border-width: 1px 1px 0 0;
  transform: translateY(-50%) rotate(45deg);
}
#hamburger-menu ul > li:not(#hamburger-menu ul > li:last-child) {
  margin-bottom: 30px;
}

/* ============== 햄버거 버튼 끝 ============== */

/* 헤더 끝 */

/* sec1 시작 */
.sec1 {
  width: 100%;
  height: 800px;
  position: relative;
  overflow: hidden;
}
.sec1 > video {
  width: 100%;
  height: 800px;
  object-fit: cover; /* 비율을 유지하면서 가득 채우기 */
  object-position: center; /* 비디오 중앙 정렬 */
}
.sec1 > .left_text {
  position: absolute;
  width: 82%;
  height: fit-content;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sec1 > .left_text > h2 {
  font-size: var(--xxxl-font-size);
}
.sec1 > .left_text > p:first-of-type {
  font-size: var(--xxl-font-size);
  margin-top: 40px;
  color: #ffffff;
}
.sec1 > .left_text > p:last-of-type {
  margin-top: 60px;
  color: #fff;
  width: fit-content;
  border: 1px solid #fff;
  padding: 14px 30px;
  box-sizing: border-box;
  transition: 0.8s;
}
.sec1 > .left_text > p:last-of-type:hover {
  border-radius: 100px;
  transform: translateY(-6px);
  cursor: pointer;
}
.sec1 > .left_text a {
  color: #fff;
}
/* sec1 끝 */

/* sec2 시작 */
.sec2 {
  text-align: center;
  padding: 120px 0;
  box-sizing: border-box;
}
/* sec2 chips 설정 */
.sec2_chips_wrap {
  font-size: var(--lg-font-size);
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  height: 100%;
  margin: 60px auto;
  gap: 20px;
  justify-content: center;
  transition: 0.2s;
}
.sec2_chips_wrap > a {
  padding: 10px 34px;
  border: 1px solid var(--sub-text-color);
  border-radius: 50px;
  color: var(--sub-text-color);
  box-sizing: border-box;
  transition: 0.2s;
  display: block;
  font-size: var(--md-font-size);
}
.sec2_chips_wrap > a:hover {
  background-color: var(--point-color);
  color: #fff;
  border: 1px solid transparent;
}

/* sec2_content */
.sec2_content_wrap {
  width: 1400px;
  height: fit-content;
  margin: 0 auto;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.sec2_content_wrap h3 {
  margin-bottom: 22px;
}
.sec2_content_wrap h3 br {
  display: none;
}
.sec2_content1,
.sec2_content2,
.sec2_content3 {
  width: fit-content;
  height: fit-content;
  object-fit: cover;
}
.sec2_content_wrap img {
  width: 450px;
  height: 320px;
  object-fit: cover;
  margin-bottom: 22px;
}
/* 가격 */
.sec2_content_wrap p:last-child {
  font-size: var(--price-font-size);
  font-weight: var(--price-font-weight);
  color: var(--main-black);
  width: fit-content;
}
.sec2_chips_wrap_mobile {
  display: none;
}
/* sec2 끝 */

/* sec3 시작 */
.sec3 {
  background-color: #f9f9f9;
  padding: 120px 0;
}
.sec3_wrap {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.sec3_wrap img {
  width: 430px;
  height: 338px;
  object-fit: cover;
  transform: translate(50% 50%);
  margin-bottom: 22px;
}
.sec3_right_wrap {
  width: 100%;
  display: flex;
  gap: 40px;
}
.sec3_right_wrap h3 a {
  color: var(--main-black);
}
.sec3_left_wrap h2 + p {
  font-size: var(--lg-font-size);
  margin-top: 40px;
}

.sec3_left_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* sec3 chips */
.sec3_chips_wrap {
  font-size: var(--lg-font-size);
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;
  gap: 10px;
  justify-content: flex-start;
  transition: 0.2s;
  margin-top: 220px;
}
.sec3_chips_wrap > a {
  padding: 10px 34px;
  border: 1px solid var(--sub-text-color);
  border-radius: 50px;
  color: var(--sub-text-color);
  box-sizing: border-box;
  transition: 0.2s;
  display: block;
  font-size: var(--md-font-size);
}
.sec3_chips_wrap > a:hover {
  background-color: var(--point-color);
  color: #fff;
  border: 1px solid transparent;
}
.sec3_right_wrap h3 {
  margin-bottom: 22px;
}

/* 가격 */
.sec3_right_wrap p:last-child {
  font-size: var(--price-font-size);
  font-weight: var(--price-font-weight);
  color: var(--main-black);
}
/* sec3 끝 */

/* sec4 시작 */
.sec4 {
  width: 1400px;
  margin: 0 auto;
  padding: 120px 0;
  display: flex;
}
.sec4_left_wrap {
  width: fit-content;
  display: flex;
  text-align: center;
  gap: 80px;
}
.sec4_user1_wrap,
.sec4_user2_wrap {
  width: 360px;
  height: 600px;
}
.sec4_user1_img {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.sec4_user1_img img,
.sec4_user2_img img {
  width: 260px;
}
.sec4_user2_img {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.sec4_left_wrap h3 {
  margin: 22px 0;
}
.sec4_left_wrap h3 a {
  color: var(--main-black);
}
.sec4_left_wrap h3 a br {
  display: none;
}
.sec4_right_wrap {
  height: 100%;
  width: fit-content;
  margin: auto 0;
  text-align: left;
  margin-left: auto;
}
.sec4_right_wrap h2 + p {
  width: fit-content;
  margin-bottom: 115px;
  font-size: var(--lg-font-size);
  margin-top: 40px;
}
.sec4_right_wrap p:last-child {
  width: fit-content;
  border: 1px solid var(--point-color);
  box-sizing: border-box;
  font-size: var(--lg-font-size);
  padding: 14px 30px;
  transition: 0.8s;
}
.sec4_right_wrap p:last-child:hover {
  background-color: var(--point-color);
  border-radius: 100px;
  transform: translateY(-6px);
  cursor: pointer;
}
.sec4_right_wrap p:last-child:hover a {
  color: #fff;
}
.sec4_right_wrap p:last-child a {
  color: var(--point-color);
}
/* sec4 끝 */

/* sec5 시작 */
.sec5 {
  background-color: #f9f9f9;
  padding: 120px 0;
}
.sec5_wrap {
  width: 90%;
  margin: 0 auto;
}
.sec5_wrap > h2 {
  margin-bottom: 40px;
}
.sec5_wrap > h2 + p {
  margin-bottom: 60px;
  font-size: var(--lg-font-size);
}
.sec5_content img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 22px;
}
.sec5_text_wrap > p {
  margin-top: 22px;
}
.sec5_content_wrap {
  display: flex;
  justify-content: space-between;
}
.sec5_content {
  text-align: center;
}
.sec5_content:nth-of-type(1) img,
.sec5_content:nth-of-type(2) img,
.sec5_content:nth-of-type(3) img,
.sec5_content:nth-of-type(4) img,
.sec5_content:nth-of-type(5) img {
  transition: 0.4s;
}
.sec5_content:nth-of-type(1) img:hover,
.sec5_content:nth-of-type(2) img:hover,
.sec5_content:nth-of-type(3) img:hover,
.sec5_content:nth-of-type(4) img:hover,
.sec5_content:nth-of-type(5) img:hover {
  transform: scale(1.1);
}
/* sec5 끝 */

/* sec6 시작 */
.sec6 {
  padding: 120px;
}
.sec6 h2 {
  margin-bottom: 60px;
  text-align: center;
}
.sec6_content {
  width: 100%;
}
.sec6_content_wrap {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.sec6_content_img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  background-color: #f9f9f9;
}
.sec6_content_img a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.sec6_content_img img {
  width: 50%;
  transition: 0.3s;
}
.sec6_content:nth-of-type(1) .sec6_content_img a {
  background-image: url(../img/main/sec6_hana_logo.png);
  background-repeat: no-repeat;
  background-size: auto 20px;
  background-position-x: 90%;
  background-position-y: 10%;
  overflow: hidden;
}
.sec6_content:nth-of-type(2) .sec6_content_img a {
  background-image: url(../img/main/sec6_hyundai_logo.png);
  background-repeat: no-repeat;
  background-size: auto 20px;
  background-position-x: 90%;
  background-position-y: 10%;
  overflow: hidden;
}
.sec6_content:nth-of-type(3) .sec6_content_img a {
  background-image: url(../img/main/sec6_kakao_logo.png);
  background-repeat: no-repeat;
  background-size: auto 20px;
  background-position-x: 90%;
  background-position-y: 10%;
  overflow: hidden;
}
.sec6_content:nth-of-type(4) .sec6_content_img a {
  background-image: url(../img/main/sec6_korean_logo.png);
  background-repeat: no-repeat;
  background-size: auto 20px;
  background-position-x: 90%;
  background-position-y: 10%;
  overflow: hidden;
}
.sec6_content:nth-of-type(1) .sec6_content_img img:hover,
.sec6_content:nth-of-type(2) .sec6_content_img img:hover,
.sec6_content:nth-of-type(3) .sec6_content_img img:hover,
.sec6_content:nth-of-type(4) .sec6_content_img img:hover {
  transform: scale(1.04);
}
.sec6_text p {
  margin: 10px 0;
}
/* sec6 끝 */

/* 푸터시작 */
footer {
  width: 100%;
  height: 120px;
  display: flex;
  border-top: 1px solid #f9f9f9;
  box-sizing: border-box;
  font-weight: 320;
}
.footer_wrap {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.footer_text_wrap {
  display: flex;
  gap: 40px;
}
.footer_text_wrap a {
  color: var(--sub-text-color);
  font-size: var(--xs-font-size);
}
footer p {
  color: var(--sub-text-color);
  font-size: var(--small-font-size);
}
/* 푸터끝 */
