@charset "utf-8";
@import url("./reset.css");
@import url("./mypage.css");

/* 모바일 */
@media screen and (max-width: 768px) {
  /* 모바일 공통설정 */
  header,
  .sec1,
  .sec2,
  .sec3,
  .sec4,
  .sec5,
  .sec6 {
    overflow: hidden;
  }
  h2 {
    font-size: 24px;
  }
  .sub_text {
    color: var(--sub-text-color);
    font-size: var(--mo-xs-font-size);
    line-height: 1.3;
    margin-bottom: 12px;
  }
  .sub_text br {
    display: none;
  }

  /* 헤더 */
  header {
    width: 90%;
    position: static;
    margin: 0 auto;
  }
  header .con {
    width: 100%;
    box-sizing: border-box;
  }
  h1 {
    width: 120px;
  }
  #gnb {
    display: none;
  }
  .header_chips p {
    display: none;
  }
  .mobile_icon {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }
  /* =============== 헤더끝 ===============*/
  main {
    padding: 60px 0;
    background-color: #f9f9f9;
  }
  /* sec1 */
  .sec1 {
    width: 90%;
    margin: 0 auto;
    margin-top: 0px;
  }
  .top_text a {
    padding: 8px 16px;
    font-size: var(--mo-md-font-size);
  }
  .top_text_button {
    gap: 10px;
  }
  /* =============== sec1 끝 =============== */

  /*  sec2  */
  .sec2 {
    width: 90%;
    margin: 40px auto;
  }
  .box_wrap {
    flex-direction: column;
  }
  .left_box {
    width: 100%;
    padding: 60px 0;
  }
  .user_info_1 {
    margin-bottom: 10px;
  }
  .user_img {
    width: 100px;
    height: 100px;
    background-size: 50%;
  }
  .user_info_2,
  .user_info_3 {
    gap: 14px;
  }
  .user_info_3 {
    margin-bottom: 40px;
  }
  .user_info_2 p {
    font-size: var(--mo-md-font-size);
  }
  .user_info_3 p {
    font-size: var(--mo-md-font-size);
  }
  .info_bottom {
    width: 86%;
  }
  .user_info_1 a:nth-of-type(2) {
    line-height: 1;
    margin-bottom: 60px;
  }
  /* 토글 */
  .toggle_bar {
    width: 30px;
    height: 14px;
  }
  .toggle_btn {
    width: 10px;
    height: 10px;
  }
  .toggle_check:checked ~ .toggle_item .toggle_btn {
    left: 18px;
  }

  .logout a {
    font-size: var(--mo-xs-font-size);
  }

  /* pc기준 오른쪽, 모바일 기준 아래 박스 */
  .right_box {
    margin-top: 20px;
    width: 100%;
    padding: 60px 0px;
  }
  .mileage {
    width: 90%;
    height: 80px;
    padding: 20px;
  }
  .point,
  .coupon {
    width: 90px;
    height: 40px;
  }
  .point > p,
  .coupon > p {
    font-size: var(--mo-xs-font-size);
  }
  .point img,
  .coupon img {
    width: 12px;
  }
  .coupon_num p,
  .point_num p {
    font-size: var(--mo-md-font-size);
  }
  .right_box .point::after {
    width: 1px;
  }

  /* 예약내역 */
  .reservation_list h2,
  .wish_list h2 {
    margin: 40px 0 14px 0;
  }
  .reservation_list {
    width: 88%;
    margin: 0 auto;
  }
  .reservation_list_text a {
    font-size: var(--mo-xs-font-size);
  }
  .reservation_info {
    width: 90%;
    margin-top: 0px;
    margin-left: 8px;
  }
  .reservation_info_wrap img {
    width: 60px;
    height: 60px;
  }
  .reservation_info a,
  .reservation_info p {
    font-size: var(--mo-xs-font-size);
  }
  .reservation_price p:first-child {
    font-size: 10px;
  }
  .reservation_price p:last-child {
    font-size: var(--mo-md-font-size);
  }
  .reservation {
    padding: 0px;
  }

  /* 위시리스트 */
  .wish_list {
    width: 88%;
    margin: 0 auto;
  }
  .wish_list_text h2 {
    margin-top: 60px;
  }
  .wish_list_text a {
    font-size: var(--mo-xs-font-size);
  }
  .wish {
    width: 80px;
    height: auto;
    overflow: hidden;
  }
  .wish img {
    width: 100%;
    height: 80px;
    margin-bottom: 4px;
  }
  .wish p:nth-of-type(1) {
    font-size: 10px;
    margin-bottom: 4px;
  }
  .wish p:nth-of-type(2),
  .wish a {
    font-size: var(--mo-xs-font-size);
  }
  .wish p:nth-of-type(2) {
    text-align: end;
  }
  /* =============== sec2 끝 =============== */

  .sec3 {
    width: 90%;
  }

  /* 푸터 */
  .footer_wrap {
    height: 180px;
    padding: 60px;
    flex-direction: column;
  }
  .footer_wrap img {
    width: 70%;
    margin: 0 auto;
  }
  .footer_text_wrap {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .footer_text_wrap a {
    color: var(--sub-text-color);
    font-size: var(--mo-xs-font-size);
  }
  footer p {
    color: var(--sub-text-color);
    font-size: var(--mo-xs-font-size);
  }
}
@media screen and (min-width: 390px) {
  .wish {
    width: 25vw;
  }
  .wish img {
    height: 25vw;
  }

  .mileage {
    width: 90%;
    height: 80px;
    padding: 20px 36px;
  }
  .point,
  .coupon {
    width: 40%;
  }
  .point img,
  .coupon img {
    width: 14px;
  }
}

@media screen and (min-width: 510px) and (max-width: 644px) {
  .left_box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 40px;
    box-sizing: border-box;
  }
  .info_bottom {
    width: 58%;
  }
  .logout {
    margin: 0 auto;
    margin-top: 20px;
  }
}

@media screen and (min-width: 645px) and (max-width: 768px) {
  .info_bottom {
    width: 50%;
  }
  .logout {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

/* 테블릿 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* 공통설정 */
  header,
  .sec1,
  .sec2,
  .sec3,
  .sec4,
  .sec5,
  .sec6 {
    overflow: hidden;
  }
  h2 {
    font-size: 24px;
  }
  .sub_text {
    color: var(--sub-text-color);
    font-size: var(--mo-xs-font-size);
    line-height: 1.3;
    margin-bottom: 12px;
  }
  .sub_text br {
    display: none;
  }

  /* 헤더 */
  header {
    width: 90%;
    position: static;
    margin: 0 auto;
  }
  header .con {
    width: 100%;
    box-sizing: border-box;
  }
  h1 {
    width: 120px;
  }
  #gnb {
    display: none;
  }
  .header_chips p {
    display: none;
  }
  .mobile_icon {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }
  /* 햄버거 버튼 */
  #hamburger-menu {
    display: none; /* 햄버거 메뉴 표시 */
  }
  /* -------------------------헤더 끝------------------------- */

  main {
    padding: 60px 0;
    background-color: #f9f9f9;
  }
  /* sec1 */
  .sec1 {
    width: 90%;
    margin: 0 auto;
    margin-top: 0px;
  }
  .top_text a {
    padding: 8px 16px;
    font-size: var(--mo-md-font-size);
  }
  .top_text_button {
    gap: 10px;
  }
  /* =============== sec1 끝 =============== */

  /*  sec2  */
  .sec2 {
    width: 90%;
    margin: 40px auto;
  }
  .box_wrap {
    flex-direction: column;
    justify-content: space-between;
  }
  .left_box {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 140px;
    box-sizing: border-box;
  }
  .user_info_1 {
    height: fit-content;
  }
  .user_img {
    width: 80px;
    height: 80px;
    background-size: 50%;
  }
  .user_info_2,
  .user_info_3 {
    gap: 14px;
  }
  .user_info_3 {
    margin-bottom: 40px;
  }
  .user_info_2 p {
    font-size: var(--mo-md-font-size);
  }
  .user_info_3 p {
    font-size: var(--mo-md-font-size);
  }
  .info_bottom {
    width: 58%;
  }
  .user_info_1 a:nth-of-type(2) {
    line-height: 1;
    margin-bottom: 60px;
  }
  /* 토글 */
  .toggle_bar {
    width: 30px;
    height: 14px;
  }
  .toggle_btn {
    width: 10px;
    height: 10px;
  }
  .toggle_check:checked ~ .toggle_item .toggle_btn {
    left: 18px;
  }

  .logout {
    margin: 0 auto;
    margin-top: 20px;
  }
  .logout a {
    font-size: var(--mo-xs-font-size);
  }

  /* pc기준 오른쪽, 모바일 기준 아래 박스 */
  .right_box {
    margin-top: 20px;
    width: 100%;
    padding: 60px 0px;
  }
  .mileage {
    width: 70%;
    height: 80px;
    padding: 20px;
  }
  .point,
  .coupon {
    width: 200px;
    height: 40px;
    margin: 0 auto;
  }
  .point > p,
  .coupon > p {
    font-size: var(--mo-md-font-size);
  }
  .point img,
  .coupon img {
    width: 16px;
  }
  .coupon_num p,
  .point_num p {
    font-size: var(--mo-md-font-size);
  }
  .right_box .point::after {
    width: 1px;
  }

  /* 예약내역 */
  .reservation_list h2,
  .wish_list h2 {
    margin: 40px 0 14px 0;
  }
  .reservation_list {
    width: 70%;
    margin: 0 auto;
  }
  .reservation_list_text a {
    font-size: var(--mo-md-font-size);
  }
  .reservation_info {
    width: 90%;
    margin-top: 4px;
    margin-left: 20px;
  }
  .reservation_info_wrap img {
    width: 80px;
    height: 80px;
  }
  .reservation_info a,
  .reservation_info p {
    font-size: var(--mo-md-font-size);
  }
  .reservation_price p:first-child {
    font-size: 10px;
  }
  .reservation_price p:last-child {
    font-size: var(--ms-font-size);
  }
  .reservation {
    padding: 0px;
  }

  /* 위시리스트 */
  .wish_list {
    width: 70%;
    margin: 0 auto;
  }
  .wish_list_text h2 {
    margin-top: 60px;
  }
  .wish_list_text a {
    font-size: var(--mo-md-font-size);
  }
  .wish {
    width: 20vw;
    height: auto;
    overflow: hidden;
  }
  .wish img {
    width: 100%;
    height: 20vw;
    margin-bottom: 4px;
  }
  .wish p:nth-of-type(1) {
    font-size: 10px;
    margin-bottom: 4px;
  }
  .wish p:nth-of-type(2),
  .wish a {
    font-size: var(--mo-md-font-size);
  }
  .wish p:nth-of-type(2) {
    text-align: end;
  }
  /* =============== sec2 끝 =============== */
  /* sec3 */
  .sec3 {
    width: 90%;
  }

  /* 푸터 */
  .footer_wrap {
    height: 180px;
    padding: 60px;
    flex-direction: column;
  }
  .footer_wrap img {
    width: 70%;
    margin: 0 auto;
  }
  .footer_text_wrap {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .footer_text_wrap a {
    color: var(--sub-text-color);
    font-size: var(--mo-xs-font-size);
  }
  footer p {
    color: var(--sub-text-color);
    font-size: var(--mo-xs-font-size);
  }
}

@media screen and (min-width: 887px) and (max-width: 1024px) {
  .left_box {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 140px;
    box-sizing: border-box;
    /* gap: 60px; */
  }
  .info_bottom {
    width: 55%;
    margin-left: 100px;
  }
  .logout {
    margin-top: 20px;
  }
}

/* 테블릿 ~ PC */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* 공통설정 */
  .sec1,
  .sec2,
  .sec3,
  .sec4,
  .sec5,
  .sec6 {
    overflow: hidden;
  }
  h2 {
    font-size: 22px;
  }
  p {
    font-size: var(--xs-font-size);
    color: var(--sub-text-color);
    line-height: var(--lg-line-height);
  }
  .sub_text {
    color: var(--sub-text-color);
    font-size: var(--md-font-size);
    margin-bottom: 22px;
  }

  /* 헤더 */
  header {
    width: 90%;
    position: static;
    margin: 0 auto;
  }
  header .con {
    width: 100%;
    box-sizing: border-box;
  }
  h1 {
    width: 120px;
  }
  .submenu,
  #gnb > ul > li > a::after {
    display: none;
  }
  /* 헤더 끝 */

  /* sec1 시작 */
  .sec1 {
    top: 80px;
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
  }
  .top_text {
    margin: 0 auto;
    width: 1440px;
    box-sizing: border-box;
  }
  .top_text_button {
    display: flex;
    gap: 20px;
  }
  .top_text h2 {
    margin-bottom: 20px;
  }
  .top_text a {
    padding: 10px 20px;
    background-color: var(--sub-text-color);
    border-radius: 10px;
    color: #fff;
    transition: 0.2s;
  }
  .top_text a:hover {
    background-color: var(--point-color);
  }
  .top_text::after {
    content: "구분선";
    font-size: 0;
    display: block;
    width: 1200px;
    height: 1px;
    background-color: var(--sub-text-color);
    margin-top: 30px;
    /* 1500px의 절반을 빼서 중앙에 맞추기 */
    margin-left: calc(50% - 750px);
  }
  /* ---------------------------------sec1 끝--------------------------------- */

  /* sec2 시작 */
  .sec2 {
    width: 96%;
    margin: 100px auto;
  }
  .box_wrap {
    display: flex;
    justify-content: space-around;
  }

  /* 왼쪽박스 */
  .left_box {
    width: 280px;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    box-sizing: border-box;
  }
  .user_info_1 {
    text-align: center;
    margin-bottom: 70px;
    margin: 0 auto;
  }
  .user_info_1 p:nth-of-type(1) {
    font-size: var(--ml-font-size);
    font-weight: 600;
    color: var(--main-black);
    margin-top: 20px;
    margin-bottom: 8px;
  }
  .user_info_1 p:nth-of-type(2) {
    font-size: var(--ms-font-size);
    color: var(--sub-text-color);
    margin-bottom: 16px;
  }
  .user_info_1 a:nth-of-type(2) {
    font-size: var(--xs-font-size);
    color: var(--sub-text-color);
    line-height: 2;
    margin-bottom: 40px;
  }
  .user_img {
    display: inline-block;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background: url(../img/mypage/mypage_user.png) no-repeat #f9f9f9 center
      center;
  }
  .user_img img {
    display: none;
  }
  .info_bottom {
    width: 76%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  .user_info_2,
  .user_info_3 {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .user_info_2 p {
    text-align: left;
    font-size: var(--xs-font-size);
    font-weight: 500;
    color: var(--main-black);
  }
  .user_info_3 p {
    font-size: var(--xs-font-size);
  }
  .user_info_3 {
    align-items: flex-end;
  }

  /* 토글 */
  .toggle_bar {
    width: 40px;
    height: 20px;
    background-color: var(--point-color);
    border-radius: 60px;
    position: relative;
    top: 0;
    left: 0;
    transition: all ease 0.3s;
  }
  .toggle_btn {
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border-radius: 60px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: all ease 0.3s;
    cursor: pointer;
  }
  .toggle_check:checked ~ .toggle_item > .toggle_bar {
    background-color: #ff5353;
    transition: all ease 0.3s;
  }
  .toggle_check:checked ~ .toggle_item .toggle_btn {
    left: 22px;
    transition: all ease 0.3s;
  }

  /* 로그아웃 */
  .logout {
    margin-top: auto;
    display: flex;
  }
  .logout a {
    font-size: var(--xs-font-size);
    color: var(--sub-text-color);
  }
  .logout a:first-child::after {
    content: "세로선";
    font-size: 0;
    display: inline-block;
    width: 1px;
    height: 14px;
    background-color: var(--sub-text-color);
    margin: 0 10px;
    vertical-align: middle;
  }

  .right_box {
    width: 660px;
  }

  .mileage {
    width: 100%;
    height: 110px;
  }
  /* ============ sec1 끝 ============ */

  /* 위시리스트 */
  .wish_list {
    margin-top: 80px;
  }
  .wish_list_text {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .wish_list_text a {
    font-size: var(--xs-font-size);
    color: var(--sub-text-color);
  }
  .wish_list_wrap {
    display: flex;
    justify-content: space-between;
  }
  .wish {
    width: 150px;
    height: 240px;
    display: flex;
    flex-direction: column;
  }
  .wish img {
    width: 150px;
    height: 130px;
    object-fit: cover;
    margin-bottom: 6px;
  }
  .wish p:nth-of-type(1) {
    font-size: var(--xs-font-size);
    margin-bottom: 6px;
  }
  .wish p:nth-of-type(2),
  .wish a {
    font-size: var(--ms-font-size);
    font-weight: 700;
    color: var(--main-black);
  }
  .wish a {
    margin-bottom: 10px;
    font-weight: 500;
  }
  .wish p:nth-of-type(2) {
    margin-top: auto;
  }
  /* =============== sec2 끝 =============== */

  /* 푸터 */
  .footer_wrap {
    height: 180px;
    padding: 60px;
    flex-direction: column;
  }
  .footer_wrap img {
    width: 70%;
    margin: 0 auto;
  }
  .footer_text_wrap {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .footer_text_wrap a {
    color: var(--sub-text-color);
    font-size: var(--mo-xs-font-size);
  }
  footer p {
    color: var(--sub-text-color);
    font-size: var(--mo-xs-font-size);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  /* 헤더 */
  h1 {
    width: 120px;
  }
  .submenu {
    display: none;
  }
  #gnb:hover {
    border: none;
  }
  #gnb > ul > li {
    width: 80px;
  }
  #gnb > ul > li a {
    font-size: 16px;
  }
  .header_chips p > a {
    padding: 6px 12px;
  }
  .submenu,
  #gnb > ul > li > a::after {
    display: none;
  }

  /* 헤더 끝 */
}

@media screen and (min-width: 1110px) and (max-width: 1304px) {
  .sec2 {
    width: 90%;
  }
  .submenu,
  #gnb::after {
    display: none;
  }
}

@media screen and (min-width: 1305px) and (max-width: 1440px) {
  .sec2 {
    width: 76%;
  }
  .submenu,
  #gnb::after {
    display: none;
  }
}

/* PC */
@media screen and (min-width: 1441px) {
}
