@charset "utf-8";
@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* 공통설정 */
body {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--main-black);
  letter-spacing: -1px;
  line-height: 1.3;
}
.container {
  width: 100%;
  height: auto;
}
h2 {
  font-size: 40px;
  font-weight: 600;
}
h3 > a {
  font-size: var(--xl-font-size);
  font-weight: 500;
}
.con {
  width: 1400px;
  height: auto;
  margin: 0 auto;
}
p {
  font-size: var(--ml-font-size);
  color: var(--sub-text-color);
}
.sub_text {
  color: var(--sub-text-color);
  font-size: var(--ml-font-size);
  margin-bottom: 22px;
}
/* 공통설정끝 */

/* 헤더 */
header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
header .con {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
/* 로고 */
h1 {
  width: 123px;
  align-self: center;
}

/* 메뉴 */
#gnb {
  width: fit-content;
  height: 100%;
}
#gnb > ul {
  width: fit-content;
  /* 마우스 올리면 2차메뉴 노출 되어야해서 auto */
  height: auto;
  display: flex;
  gap: 40px;
  line-height: 80px;
  text-align: center;
}
#gnb > ul > li {
  /* fit-content 하면 글자 긴 애들은 2줄로 나와서 고정시킴 */
  width: 100px;
  position: relative;
}
/* 밑줄 */
#gnb > ul > li > a {
  transition: 0.3s;
  position: relative;
}
#gnb > ul > li > a::after {
  content: "밑줄";
  font-size: 0;
  display: block;
  position: absolute;
  bottom: -50;
  width: 0;
  height: 2px;
  background-color: var(--point-color);
  transition: 0.3s;
  z-index: 99;
}
#gnb > ul > li:hover ::after {
  width: 100%;
}
/* 밑줄 */

#gnb > ul > li > a {
  display: block;
  transition: 0.3s;
  font-weight: 500;
}
#gnb > ul > li:hover > a {
  color: var(--point-color);
}
/* 2차메뉴 */
.submenu {
  width: 100vw;
  height: 0;
  position: absolute;
  top: 70px;
  left: 0;
  transition: 0.5s;
  /* 메인보다 더 위에 올라오게 하려고 z-index줌 */
  z-index: 1000;
  /* 2차메뉴 숨기기, height: 0 이라 히든하면 안보임 */
  overflow: hidden;
  display: flex;
  gap: 40px;
}
.submenu > li {
  height: 100%;
  width: fit-content;
}
.submenu > li > a {
  display: block;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 500;
}
.submenu > li:hover > a {
  color: var(--point-color);
}
#gnb > ul > li:hover .submenu {
  height: 60px;
}

/* submenu뒤의 전체 영역 배경 */
#gnb::after {
  content: "submenu-background";
  font-size: 0;
  width: 100vw;
  height: 0;
  position: absolute;
  left: 0;
  transition: 0.5s;
  background-color: #fff;
}
/* #gnb에 마우스 오버시 ::after가 내려옴 */
#gnb:hover::after {
  height: 60px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}
/* chips (로그인, 마이페이지, 예약내역) */
.header_chips {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header_chips p > a {
  font-size: var(--xs-font-size);
  padding: 8px 20px;
  border-radius: 50px;
  background-color: #fff;
  color: var(--point-color);
  border: 1px solid var(--point-color);
  transition: 0.2s;
}
.header_chips p:hover > a {
  background-color: var(--point-color);
  color: #fff;
  border: 1px solid transparent;
}
.mobile_icon {
  display: none;
}

/* 모바일 햄버거 버튼 */
#hamburger-menu {
  z-index: 9999;
  display: none;
  position: absolute;
  top: 80px;
  right: 0px;
  width: 260px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 50px 0;
  box-sizing: border-box;
}
#hamburger-menu ul {
  width: 60%;
  margin: 0 auto;
}
#hamburger-menu ul > li {
  display: flex;
  align-items: center;
}
#hamburger-menu ul > li a {
  font-size: var(--ms-font-size);
  font-weight: 500;
  letter-spacing: 1.1px;
  color: var(--sub-text-color);
  transition: 0.3s;
}
#hamburger-menu ul > li a:hover {
  color: var(--main-black);
  font-weight: 700;
}
#hamburger-menu ul > li::after {
  content: "세모";
  font-size: 0;
  display: block;
  width: 8px;
  height: 8px;
  margin-left: auto;
  margin-top: 8px;
  border: solid var(--main-black);
  border-width: 1px 1px 0 0;
  transform: translateY(-50%) rotate(45deg);
}
#hamburger-menu ul > li:not(#hamburger-menu ul > li:last-child) {
  margin-bottom: 30px;
}

/* ============== 햄버거 버튼 끝 ============== */
/* ---------------------------------헤더 끝--------------------------------- */

main {
  padding: 100px 0;
  background-color: #f9f9f9;
}

/* sec1 시작 */
.sec1 {
  top: 80px;
  width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
}
.top_text {
  margin: 0 auto;
  width: 1440px;
  box-sizing: border-box;
}
.top_text_button {
  display: flex;
  gap: 20px;
}
.top_text h2 {
  margin-bottom: 20px;
}
.top_text a {
  padding: 10px 20px;
  background-color: var(--sub-text-color);
  border-radius: 10px;
  color: #fff;
  transition: 0.2s;
}
.top_text a:hover {
  background-color: var(--point-color);
}
.top_text::after {
  content: "구분선";
  font-size: 0;
  display: block;
  width: 1200px;
  height: 1px;
  background-color: var(--sub-text-color);
  margin-top: 30px;
  /* 1500px의 절반을 빼서 중앙에 맞추기 */
  margin-left: calc(50% - 750px);
}
/* ---------------------------------sec1 끝--------------------------------- */

/* sec2 시작 */
.sec2 {
  width: 1040px;
  margin: 100px auto;
}
.box_wrap {
  display: flex;
  justify-content: space-between;
}

/* 왼쪽박스 */
.left_box {
  width: 320px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}
.user_info_1 {
  text-align: center;
  margin-bottom: 70px;
}
.user_info_1 p:nth-of-type(1) {
  font-size: var(--ml-font-size);
  font-weight: 600;
  color: var(--main-black);
  margin-top: 20px;
  margin-bottom: 8px;
}
.user_info_1 p:nth-of-type(2) {
  font-size: var(--ms-font-size);
  color: var(--sub-text-color);
  margin-bottom: 16px;
}
.user_info_1 a:nth-of-type(2) {
  font-size: var(--xs-font-size);
  color: var(--sub-text-color);
  line-height: 2;
}
.user_img {
  display: inline-block;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background: url(../img/mypage/mypage_user.png) no-repeat #f9f9f9 center center;
}
.user_img img {
  display: none;
}
.info_bottom {
  width: 76%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  /* line-height: 2.3; */
}
.user_info_2,
.user_info_3 {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.user_info_2 p {
  text-align: left;
  font-size: var(--ms-font-size);
  font-weight: 500;
  color: var(--main-black);
}
.user_info_3 p {
  font-size: var(--ms-font-size);
}
.user_info_3 {
  align-items: flex-end;
}

/* 토글 */
.toggle_bar {
  width: 40px;
  height: 20px;
  background-color: var(--point-color);
  border-radius: 60px;
  position: relative;
  top: 0;
  left: 0;
  transition: all ease 0.3s;
}
.toggle_btn {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 60px;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: all ease 0.3s;
  cursor: pointer;
}
.toggle_check:checked ~ .toggle_item > .toggle_bar {
  background-color: #ff5353;
  transition: all ease 0.3s;
}
.toggle_check:checked ~ .toggle_item .toggle_btn {
  left: 22px;
  transition: all ease 0.3s;
}

/* 로그아웃 */
.logout {
  margin-top: auto;
  display: flex;
}
.logout a {
  font-size: var(--xs-font-size);
  color: var(--sub-text-color);
}
.logout a:first-child::after {
  content: "세로선";
  font-size: 0;
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: var(--sub-text-color);
  margin: 0 10px;
  vertical-align: middle;
}

/* 오른쪽박스 */
.right_box {
  width: 700px;
  background-color: #fff;
  border-radius: 20px;
  padding: 80px 96px;
  box-sizing: border-box;
}
.mileage {
  width: 500px;
  height: 100px;
  background-color: var(--main-black);
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  box-sizing: border-box;
  align-items: center;
  position: relative;
}
.mileage p {
  color: #fff;
}
.point,
.coupon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 190px;
  height: 60px;
}
.point > p,
.coupon > p {
  font-size: var(--ms-font-size);
}
.point img,
.coupon img {
  width: 20px;
  height: auto;
  object-fit: contain;
}
.coupon_num,
.point_num {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}
.coupon_num p,
.point_num p {
  font-weight: 500;
  letter-spacing: 0;
  font-size: var(--lg-font-size);
  line-height: 0.8;
}
.right_box .point::after {
  content: "세로선";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0;
  display: inline-block;
  width: 2px;
  height: 30px;
  background-color: #fff;
}

/* 예약내역 */
.reservation_list_text {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.reservation_list_text a {
  font-size: var(--xs-font-size);
  color: var(--sub-text-color);
}
.reservation_list h2,
.wish_list h2 {
  font-size: var(--ml-font-size);
  margin: 60px 0 30px 0;
}
.reservation_list > a {
  font-size: var(--xs-font-size);
  color: var(--sub-text-color);
  text-align: end;
}
.reservation {
  display: flex;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
}
.reservation:not(.reservation:last-of-type) {
  margin-bottom: 40px;
}
.reservation_info_wrap {
  display: flex;
}
.reservation_info_wrap img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.reservation_info {
  height: fit-content;
  align-items: center;
  margin-top: 4px;
  margin-left: 12px;
}
.reservation_info a,
.reservation_info p {
  font-size: var(--ms-font-size);
}
.reservation_info a {
  font-weight: 600;
  margin-bottom: 10px;
  display: inline-block;
}
.reservation_info p {
  letter-spacing: 0;
}
.reservation_price {
  margin-left: auto;
  text-align: end;
  margin-top: auto;
}
.reservation_price p:first-child {
  font-size: 13px;
  color: var(--sub-text-color);
  line-height: 1.5;
}
.reservation_price p:last-child {
  font-weight: 700;
  color: var(--main-black);
}
.reservation_list .reservation:nth-of-type(1),
.reservation_list .reservation:nth-of-type(2) {
  position: relative;
}
.reservation::after {
  content: "구분선";
  font-size: 0;
  position: absolute;
  left: 0;
  bottom: -20px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--sub-gray-color);
}

/* ---------------------------------예약내역끝--------------------------------- */
/* 위시리스트 */
.wish_list {
  margin-top: 80px;
}
.wish_list_text {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.wish_list_text a {
  font-size: var(--xs-font-size);
  color: var(--sub-text-color);
}
.wish_list_wrap {
  display: flex;
  justify-content: space-between;
}
.wish {
  width: 150px;
  height: 240px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  box-sizing: border-box;
}
.wish img {
  width: 150px;
  height: 130px;
  object-fit: cover;
  margin-bottom: 6px;
  overflow: hidden;
}
.wish p:nth-of-type(1) {
  font-size: var(--xs-font-size);
  margin-bottom: 6px;
}
.wish p:nth-of-type(2),
.wish a {
  font-size: var(--ms-font-size);
  font-weight: 700;
  color: var(--main-black);
  line-height: 1;
}
.wish a {
  margin-bottom: 10px;
  font-weight: 500;
}
.wish p:nth-of-type(2) {
  margin-top: auto;
}

/* ---------------------------------위시리스트 끝--------------------------------- */
/* ---------------------------------sec2 끝--------------------------------- */

/* sec3 */
.sec3 {
  width: 1040px;
  height: 158px;
  margin: 0 auto;
  overflow: hidden;
  /* 배너 버튼이 상단으로 움직여서 고정하려고 position줌 */
  position: relative;
  border-radius: 20px;
}
.m-swiper-wrapper,
.s-swiper-wrapper {
  display: none;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  width: 100%;
  height: 100%;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev {
  background: url(../img/mypage/pre.png) no-repeat;
  background-position: center;
}
.swiper-button-next {
  background: url(../img/mypage/next.png) no-repeat;
  background-position: center;
}

/* ---------------------------------sec3 끝--------------------------------- */

/* 푸터시작 */
footer {
  width: 100%;
  height: 120px;
  display: flex;
  border-top: 1px solid #f9f9f9;
  box-sizing: border-box;
  font-weight: 320;
}
.footer_wrap {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.footer_text_wrap {
  display: flex;
  gap: 40px;
}
.footer_text_wrap a {
  color: var(--sub-text-color);
  font-size: var(--xs-font-size);
}
footer p {
  color: var(--sub-text-color);
  font-size: var(--small-font-size);
}
/* 푸터끝 */
