@charset "utf-8";
@import url("./reset.css");
@import url("./simple_plan.css");

/* 모바일 */
/* @media screen and (min-width: 320px) and (max-width: 768px) */
@media screen and (max-width: 768px) {
  /* 모바일 공통설정 */
  header,
  .sec1,
  .sec2,
  .sec3,
  .sec4,
  .sec5,
  .sec6 {
    overflow: hidden;
  }
  h2 {
    font-size: var(--mo-lg-font-size);
  }
  .sub_text {
    color: var(--sub-text-color);
    font-size: var(--mo-xs-font-size);
    line-height: 1.3;
    margin-bottom: 12px;
  }
  .sub_text br {
    display: none;
  }

  /* 헤더 */
  header {
    width: 90%;
    position: static;
    margin: 0 auto;
  }
  header .con {
    width: 100%;
    box-sizing: border-box;
  }
  h1 {
    width: 120px;
  }
  #gnb {
    display: none;
  }
  .header_chips p {
    display: none;
  }
  .mobile_icon {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }
  /* -------------------------헤더 끝------------------------- */

  /* sec1 */
  .sec1_wrap {
    height: clamp(30vw, 40vw, 44vw);
    background-color: rgb(240, 255, 210);
    overflow: hidden;
  }
  .sec1_wrap img {
    height: 100%;
    width: auto;
    object-fit: none;
    margin-top: 0;
    position: absolute;
    /* transform: translateX(-720px); */
  }
  .sec1_wrap .left_text {
    top: 50%;
  }
  .sec1_wrap .left_text h2 {
    margin-bottom: 10px;
    font-size: clamp(4vw, 30px, 5vw);
  }
  .sec1_wrap .left_text p {
    font-size: 3vw;
    color: #fff;
  }
  /* --------------------sec1 끝-------------------- */

  /* sec2 */
  .sec2_wrap {
    width: 95%;
    margin: 100px auto;
  }
  .sec2_menu {
    display: flex;
  }
  .sec2_menu a {
    border-radius: 26px;
    padding: 10px 20px;
    width: fit-content;
    cursor: grab;
  }
  .sec2_menu_wrap {
    gap: 8px;
    margin-top: 40px;
  }
  .sec2_menu_text span:last-child {
    display: none;
  }
  .sec2_menu_text span:first-child {
    font-size: var(--mo-md-font-size);
    font-weight: 600;
  }
  .sec2_menu a img {
    display: none;
  }

  /* --------------------sec2 끝-------------------- */

  /* sec3 */
  .sec3_wrap {
    width: 95%;
    margin: 100px auto;
  }
  .sec3_best h3 {
    margin-bottom: 10px;
    font-size: var(--mo-ml-font-size);
  }
  .sec3_menu_wrap {
    display: none;
  }
  .sec3_best_wrap {
    width: 100%;
    gap: 4px;
    justify-content: space-between;
    margin: 0 auto;
  }
  .sec3_best_content {
    width: clamp(46vw, 220px, 45vw);
    height: clamp(30vw, 200px, 40vw);
  }
  .sec3_best_wrap_text {
    left: 6px;
    transform: translateY(center);
  }
  .sec3_best_wrap_text p:last-child {
    /* 가격 */
    font-size: clamp(10px, 16px, 20px);
  }
  .sec3_best_wrap_text p:first-child {
    /* 상품명 */
    font-size: clamp(8px, 14px, 18px);
  }
  /* --------------------sec3 끝-------------------- */

  /* sec4 */
  .sec4_wrap {
    width: 95%;
    margin: 100px auto;
  }
  .sec4_wrap h3 {
    margin-bottom: 10px;
    font-size: var(--mo-ml-font-size);
  }
  .sec4_fav_wrap {
    gap: 10px;
  }
  .sec4_fav_content {
    width: clamp(130px, 40vw, 220px);

    height: 200px;
  }
  .sec4_fav_content img {
    height: 80px;
  }
  .sec4_fav_content .detail_box {
    display: none;
  }
  .sec4_fav_content_text {
    padding: 20px;
  }
  .sec4_fav_content_text a > p:first-child {
    margin-bottom: 6px;
    letter-spacing: 0;
    font-size: 10px;
  }
  .sec4_fav_content_text a > p:nth-child(2) {
    font-size: var(--mo-md-font-size);
    margin: 0 auto;
  }
  .sec4_fav_content_text a > p:last-child {
    font-size: var(--mo-price-font-size);
  }

  /* --------------------sec4 끝-------------------- */

  /* 페이지버튼 */
  .page {
    margin-bottom: 80px;
    margin-top: 80px;
  }
  /* 푸터 */
  .footer_wrap {
    height: 180px;
    padding: 60px;
    flex-direction: column;
  }
  .footer_wrap img {
    width: 70%;
    margin: 0 auto;
  }
  .footer_text_wrap {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .footer_text_wrap a {
    color: var(--sub-text-color);
    font-size: var(--mo-xs-font-size);
  }
  footer p {
    color: var(--sub-text-color);
    font-size: var(--mo-xs-font-size);
  }
}

@media screen and (min-width: 712px) and (max-width: 768px) {
  .sec2_chips_wrap {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

/* 테블릿 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* 공통설정 */
  header,
  .sec1,
  .sec2,
  .sec3,
  .sec4,
  .sec5,
  .sec6 {
    overflow: hidden;
  }
  h2 {
    font-size: 24px;
  }
  .sub_text {
    color: var(--sub-text-color);
    font-size: var(--mo-xs-font-size);
    line-height: 1.3;
    margin-bottom: 12px;
  }
  .sub_text br {
    display: none;
  }
  /* 헤더 */
  header {
    width: 90%;
    position: static;
    margin: 0 auto;
  }
  header .con {
    width: 100%;
    box-sizing: border-box;
  }
  h1 {
    width: 120px;
  }
  #gnb {
    display: none;
  }
  .header_chips p {
    display: none;
  }
  .mobile_icon {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }
  .mobile_icon i {
    font-size: 28px;
    width: fit-content;
    height: fit-content;
    padding: 4px;
  }
  /* -------------------------헤더 끝------------------------- */

  /* sec1 */
  .sec1_wrap {
    height: clamp(26vw, 200px, 30vw);
    background-color: yellowgreen;
  }
  .sec1_wrap img {
    height: 100%;
    object-fit: cover;
    margin-top: 0;
  }
  .sec1_wrap .left_text h2 {
    margin-bottom: 10px;
    font-size: clamp(3vw, 30px, 4vw);
  }
  .sec1_wrap .left_text p {
    font-size: 2vw;
    color: #fff;
  }
  .sec1_banner_user {
    top: 40%;
    gap: 10px;
  }
  .sec1_banner_user img:last-child {
    transform: translateY(-80%);
  }
  /* --------------------sec1 끝-------------------- */

  /* sec2 */
  .sec2_wrap {
    width: 90%;
    margin: 100px auto;
  }
  .sec2_chips_wrap {
    gap: 10px;
    margin-bottom: 50px;
  }
  .sec2_wrap h2 {
    margin-bottom: 50px;
  }
  .sec2_chips_wrap a {
    padding: 10px 24px;
    margin-bottom: 8px;
  }
  .sec2_edit {
    font-size: var(--mo-md-font-size);
  }
  .post_user_img {
    width: 110px;
    height: 110px;
  }
  .post_box {
    height: 160px;
  }
  .post_box_chips > p {
    font-size: 12px;
  }
  .post_box_text > p {
    padding: 4px 0;
    font-size: var(--mo-md-font-size);
  }
  .post_box_button {
    padding: 10px 20px;
  }
  .post_box_button a {
    color: #fff;
    font-size: var(--mo-md-font-size);
  }
  .post_box_button {
    margin-left: auto;
  }
  .post_box_text h3 {
    font-size: var(--ml-font-size);
  }
  /* --------------------sec2 끝-------------------- */
  /* 푸터 */
  .footer_wrap {
    height: 180px;
    padding: 60px;
    flex-direction: column;
  }
  .footer_wrap img {
    width: 70%;
    margin: 0 auto;
  }
  .footer_text_wrap {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .footer_text_wrap a {
    color: var(--sub-text-color);
    font-size: var(--mo-xs-font-size);
  }
  footer p {
    color: var(--sub-text-color);
    font-size: var(--mo-xs-font-size);
  }
}
@media screen and (min-width: 765px) and (max-width: 845px) {
  .sec2_chips_wrap {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

/* 테블릿 ~ PC */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* 공통설정 */
  .sec1,
  .sec2,
  .sec3,
  .sec4,
  .sec5,
  .sec6 {
    overflow: hidden;
  }
  h2 {
    font-size: 22px;
  }
  p {
    font-size: var(--xs-font-size);
    color: var(--sub-text-color);
    line-height: var(--lg-line-height);
  }
  .sub_text {
    color: var(--sub-text-color);
    font-size: var(--md-font-size);
    margin-bottom: 22px;
  }

  /* 헤더 */
  header .con {
    width: 90%;
  }
  #gnb > ul > li {
    width: 70px;
  }
  #gnb > ul > li > a {
    font-size: var(--md-font-size);
  }
  /* chips (로그인, 마이페이지, 예약내역) */
  .header_chips {
    display: none;
  }
  .mobile_icon {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }
  .mobile_icon i {
    font-size: 28px;
    width: fit-content;
    height: fit-content;
    padding: 4px;
  }
  /* 헤더 끝 */

  /* sec1 */
  .sec1_wrap {
    height: clamp(20vw, 230px, 24vw);
    background-color: yellowgreen;
  }
  .sec1_wrap img {
    height: 100%;
    object-fit: cover;
    /* margin-top: 0; */
  }
  .sec1_wrap .left_text h2 {
    margin-bottom: 10px;
    font-size: clamp(3vw, 30px, 4vw);
  }
  .sec1_wrap .left_text p {
    font-size: 2vw;
    color: #fff;
  }
  .sec1_banner_user {
    top: 10%;
    gap: 10px;
  }
  .sec1_banner_user img:last-child {
    transform: translateY(-80%);
  }
  /* --------------------sec1 끝-------------------- */

  /* sec2 */
  .sec2_wrap {
    width: 90%;
    margin: 100px auto;
  }
  .sec2_chips_wrap {
    gap: 10px;
    margin-bottom: 50px;
  }
  .sec2_wrap h2 {
    margin-bottom: 50px;
  }
  .sec2_chips_wrap a {
    padding: 10px 24px;
    margin-bottom: 8px;
  }
  .sec2_edit {
    font-size: var(--mo-md-font-size);
  }
  .post_user_img {
    width: 110px;
    height: 110px;
  }
  .post_box {
    height: 160px;
  }
  .post_box_chips > p {
    font-size: 12px;
  }
  .post_box_text > p {
    padding: 4px 0;
    font-size: var(--mo-md-font-size);
  }
  .post_box_button {
    padding: 10px 20px;
  }
  .post_box_button a {
    color: #fff;
    font-size: var(--mo-md-font-size);
  }
  .post_box_button {
    margin-left: auto;
  }
  .post_box_text h3 {
    font-size: var(--ml-font-size);
  }
  /* --------------------sec2 끝-------------------- */
  /* 푸터 */
  .footer_wrap {
    height: 180px;
    padding: 60px;
    flex-direction: column;
  }
  .footer_wrap img {
    width: 70%;
    margin: 0 auto;
  }
  .footer_text_wrap {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .footer_text_wrap a {
    color: var(--sub-text-color);
    font-size: var(--mo-xs-font-size);
  }
  footer p {
    color: var(--sub-text-color);
    font-size: var(--mo-xs-font-size);
  }
}
@media screen and (min-width: 1190px) and (max-width: 1440px) {
  .sec1_banner_user {
    top: 14%;
    gap: 100px;
  }
}

/* PC */
@media screen and (min-width: 1441px) {
}
