@charset "utf-8";
@import url("./reset.css");
@import url("./self_plan.css");

/* 모바일 */
@media screen and (max-width: 768px) {
  /* 모바일 공통설정 */
  header,
  .sec1,
  .sec2,
  .sec3,
  .sec4,
  .sec5,
  .sec6 {
    overflow: hidden;
  }
  h2 {
    font-size: 24px;
  }
  .sub_text {
    color: var(--sub-text-color);
    font-size: var(--mo-xs-font-size);
    line-height: 1.3;
    margin-bottom: 12px;
  }
  .sub_text br {
    display: none;
  }

  /* 헤더 */
  header {
    width: 90%;
    position: static;
    margin: 0 auto;
  }
  header .con {
    width: 100%;
    box-sizing: border-box;
  }
  h1 {
    width: 120px;
  }

  #gnb {
    display: none;
  }
  .header_chips p {
    display: none;
  }
  .mobile_icon {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }

  /* =============== 헤더끝 ===============*/

  /* sec1 */
  .sec1_wrap {
    height: clamp(30vw, 40vw, 44vw);
    top: 0;
  }
  /* .sec1_wrap img {
    height: 100%;
    width: auto;
    object-fit: none;
    margin-top: 0;
    position: absolute;
  } */
  .sec1_wrap .left_text img {
    width: 24%;
  }
  .sec1_wrap .left_text {
    top: 50%;
  }
  .sec1_wrap .left_text h2 {
    margin-bottom: 10px;
    font-size: clamp(4vw, 30px, 5vw);
  }
  .sec1_wrap .left_text p {
    font-size: 3vw;
  }
  /* --------------------sec1 끝-------------------- */

  /* sec2 */
  .sec2_wrap {
    width: 95%;
    margin: 60px auto;
  }
  .sec2_menu {
    display: flex;
  }
  .sec2_menu a {
    border-radius: 26px;
    padding: 10px 20px;
    width: fit-content;
  }
  .sec2_menu_wrap {
    gap: 8px;
    margin-top: 30px;
  }
  .sec2_menu_text span:last-child {
    display: none;
  }
  .sec2_menu_text span:first-child {
    font-size: var(--mo-md-font-size);
    font-weight: 600;
  }
  .sec2_menu a img {
    display: none;
  }

  /* --------------------sec2 끝-------------------- */

  /* sec3 */
  .sec3_wrap {
    width: 95%;
    margin: 60px auto;
  }
  .sec3_best h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: var(--mo-ml-font-size);
  }
  .sec3_menu_wrap {
    display: none;
  }
  .sec3_best_wrap {
    width: 100%;
    gap: 4px;
    justify-content: space-between;
    margin: 0 auto;
  }
  .sec3_best_content {
    width: clamp(46vw, 220px, 45vw);
    height: clamp(46vw, 220px, 40vw);
  }
  .sec3_best_wrap_text {
    width: 85%;
    left: 12px;
    transform: translateY(center);
  }
  .sec3_best_content img {
    height: 100%;
    object-fit: cover;
  }
  .sec3_best_wrap_text p:last-child {
    /* 가격 */
    font-size: clamp(8px, 15px, 50px);
  }
  .sec3_best_wrap_text p:first-child {
    /* 상품명 */
    font-size: clamp(6px, 13px, 22px);
  }
  .text_box {
    height: 36%;
  }
  /* --------------------sec3 끝-------------------- */

  /* sec4 */
  .sec4_wrap {
    width: 95%;
    margin: 100px auto;
  }
  .sec4_wrap h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: var(--mo-ml-font-size);
  }
  .sec4_fav_wrap {
    gap: 10px;
  }
  .sec4_fav_content {
    width: clamp(130px, 40vw, 220px);
    height: 220px;
  }
  .sec4_fav_content img {
    height: 90px;
  }
  .sec4_fav_content .detail_box {
    display: none;
  }
  .sec4_fav_content_text {
    padding: 18px;
    width: 100%;
  }
  .sec4_fav_content_text a > p:first-child {
    margin-bottom: 6px;
    letter-spacing: 0;
    font-size: 10px;
  }
  .sec4_fav_content_text a > p:nth-child(2) {
    font-size: var(--mo-md-font-size);
    margin-bottom: 0px;
  }
  .sec4_fav_content_text a > p:last-child {
    font-size: var(--mo-price-font-size);
    margin-bottom: 40px;
    margin-top: auto;
    text-align: end;
  }

  /* --------------------sec4 끝-------------------- */

  /* 페이지버튼 */
  .page {
    margin-bottom: 80px;
    margin-top: 80px;
  }
  /* 푸터 */
  .footer_wrap {
    height: 180px;
    padding: 60px;
    flex-direction: column;
  }
  .footer_wrap img {
    width: 70%;
    margin: 0 auto;
  }
  .footer_text_wrap {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .footer_text_wrap a {
    color: var(--sub-text-color);
    font-size: var(--mo-xs-font-size);
  }
  footer p {
    color: var(--sub-text-color);
    font-size: var(--mo-xs-font-size);
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .sec3_best_wrap_text p:last-child {
    /* 가격 */
    font-size: 18px;
  }
  .sec3_best_wrap_text p:first-child {
    /* 상품명 */
    font-size: 16px;
  }
  .text_box {
    height: 30%;
  }
}

/* 테블릿 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* 공통설정 */
  header,
  .sec1,
  .sec2,
  .sec3,
  .sec4,
  .sec5,
  .sec6 {
    overflow: hidden;
  }
  h2 {
    font-size: 24px;
  }
  .sub_text {
    color: var(--sub-text-color);
    font-size: var(--mo-xs-font-size);
    line-height: 1.3;
    margin-bottom: 12px;
  }
  .sub_text br {
    display: none;
  }

  /* 헤더 */
  header {
    width: 90%;
    position: static;
    margin: 0 auto;
  }
  header .con {
    width: 100%;
    box-sizing: border-box;
  }
  h1 {
    width: 120px;
  }
  #gnb {
    display: none;
  }
  .header_chips p {
    display: none;
  }
  .mobile_icon {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }
  /* 햄버거 버튼 */
  #hamburger-menu {
    display: none; /* 햄버거 메뉴 표시 */
  }
  /* -------------------------헤더 끝------------------------- */

  /* sec1 */
  .sec1_wrap {
    height: clamp(26vw, 200px, 30vw);
    top: 0;
  }
  /* .sec1_wrap img {
    height: 100%;
    object-fit: cover;
    margin-top: 0;
  } */
  .sec1_wrap .left_text img {
    width: 24%;
    margin-top: auto;
  }
  .sec1_wrap .left_text h2 {
    margin-bottom: 10px;
    font-size: clamp(3vw, 30px, 4vw);
  }
  .sec1_wrap .left_text p {
    font-size: 2vw;
  }
  .sec1_banner_user {
    top: 40%;
    gap: 10px;
  }
  .sec1_banner_user img:last-child {
    transform: translateY(-80%);
  }
  /* --------------------sec1 끝-------------------- */

  /* sec2 */
  .sec2_wrap {
    width: 86%;
    margin: 100px auto;
  }
  .sec2_menu {
    display: flex;
  }
  .sec2_menu a {
    border-radius: 26px;
    padding: 20px 30px;
    width: fit-content;
  }
  .sec2_menu_wrap {
    gap: 8px;
    margin-top: 40px;
  }
  .sec2_menu_text span:first-child {
    font-size: var(--mo-ml-font-size);
    font-weight: 600;
  }
  .sec2_menu_text span:last-child {
    font-size: var(--mo-md-font-size);
  }
  .sec2_menu a img {
    width: 40px;
  }
  /* --------------------sec2 끝-------------------- */

  /* sec3 */
  .sec3_wrap {
    width: 95%;
    margin: 100px auto;
  }
  .sec3_best h3 {
    margin-bottom: 20px;
    font-size: var(--mo-lg-font-size);
    text-align: center;
  }
  .sec3_menu_wrap {
    display: none;
  }
  .sec3_best_wrap {
    width: 100%;
    /* gap: 4px; */
    justify-content: space-between;
    margin: 0 auto;
  }
  .sec3_best_content:last-child img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  .sec3_best_content {
    width: clamp(46vw, 220px, 45vw);
    height: clamp(30vw, 200px, 40vw);
  }
  .sec3_best_wrap_text {
    left: 20px;
    transform: translateY(center);
  }
  .sec3_best_wrap_text p:last-child {
    /* 가격 */
    font-size: clamp(12px, 18px, 22px);
  }
  .sec3_best_wrap_text p:first-child {
    /* 상품명 */
    font-size: clamp(10px, 16px, 20px);
  }
  /* --------------------sec3 끝-------------------- */

  /* sec4 */
  .sec4_wrap {
    width: 95%;
    margin: 100px auto;
  }
  .sec4_wrap h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: var(--mo-lg-font-size);
  }
  .sec4_fav_wrap {
    gap: 10px;
  }
  .sec4_fav_content {
    width: clamp(150px, 44vw, 260px);
    height: 270px;
  }
  .sec4_fav_content img {
    height: 130px;
  }
  .sec4_fav_content .detail_box {
    display: none;
  }
  .sec4_fav_content_text {
    width: 100%;
    height: 150px;
    padding: 20px;
  }
  .sec4_fav_content_text a > p:first-child {
    margin-bottom: 6px;
    letter-spacing: 0;
    font-size: 12px;
  }
  .sec4_fav_content_text a > p:nth-child(2) {
    font-size: var(--mo-ml-font-size);
    margin: 0 auto;
    width: 100%;
    height: 55px;
    margin-bottom: auto;
  }
  /* 가격 */
  .sec4_fav_content_text a > p:last-child {
    font-size: 18px;
    text-align: end;
    margin-bottom: 16px;
  }
  /* --------------------sec4 끝-------------------- */
  /* 푸터 */
  .footer_wrap {
    height: 180px;
    padding: 60px;
    flex-direction: column;
  }
  .footer_wrap img {
    width: 70%;
    margin: 0 auto;
  }
  .footer_text_wrap {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .footer_text_wrap a {
    color: var(--sub-text-color);
    font-size: var(--mo-xs-font-size);
  }
  footer p {
    color: var(--sub-text-color);
    font-size: var(--mo-xs-font-size);
  }
}

/* 테블릿 ~ PC */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* 공통설정 */
  .sec1,
  .sec2,
  .sec3,
  .sec4,
  .sec5,
  .sec6 {
    overflow: hidden;
  }
  h2 {
    font-size: 22px;
  }
  p {
    font-size: var(--xs-font-size);
    color: var(--sub-text-color);
    line-height: var(--lg-line-height);
  }
  .sub_text {
    color: var(--sub-text-color);
    font-size: var(--md-font-size);
    margin-bottom: 22px;
  }

  /* 헤더 */
  header {
    width: 90%;
    position: static;
    margin: 0 auto;
  }
  header .con {
    width: 100%;
    box-sizing: border-box;
  }
  h1 {
    width: 120px;
  }
  .submenu,
  #gnb > ul > li > a::after {
    display: none;
  }
  /* 헤더 끝 */

  /* sec1 */
  .sec1_wrap {
    height: clamp(26vw, 200px, 30vw);
    top: 0;
  }
  /* .sec1_wrap img {
    height: 100%;
    object-fit: cover;
    margin-top: 0;
  } */
  .sec1_wrap .left_text h2 {
    margin-bottom: 10px;
    font-size: clamp(3vw, 30px, 4vw);
  }
  .sec1_wrap .left_text p {
    font-size: 2vw;
  }
  .sec1_banner_user {
    top: 40%;
    gap: 10px;
  }
  .sec1_banner_user img:last-child {
    transform: translateY(-80%);
  }
  /* --------------------sec1 끝-------------------- */

  /* sec2 */
  .sec2_wrap {
    width: 78%;
    margin: 100px auto;
  }
  .sec2_menu {
    display: flex;
    justify-content: space-between;
  }
  .sec2_menu a {
    border-radius: 26px;
    padding: 20px 36px;
    /* width: clamp(260px); */
    width: 260px;
  }
  .sec2_menu_wrap {
    gap: 8px;
    margin-top: 40px;
  }
  .sec2_menu_text span:first-child {
    font-size: var(--mo-ml-font-size);
    font-weight: 600;
  }
  .sec2_menu_text span:last-child {
    font-size: var(--mo-md-font-size);
  }
  .sec2_menu a img {
    width: 40px;
  }
  /* --------------------sec2 끝-------------------- */

  /* sec3 */
  .sec3_wrap {
    width: 80%;
    margin: 100px auto;
  }
  .sec3_best h3 {
    margin-bottom: 20px;
    font-size: var(--mo-lg-font-size);
    text-align: center;
  }
  .sec3_menu_wrap {
    display: none;
  }
  .sec3_best_wrap {
    width: 100%;
    gap: 20px;
    justify-content: space-between;
    margin: 0 auto;
  }
  .sec3_best_content {
    width: clamp(46vw, 220px, 45vw);
    height: clamp(30vw, 200px, 40vw);
  }
  .sec3_best_content img {
    height: 100%;
  }
  .sec3_best_wrap_text {
    left: 20px;
    transform: translateY(center);
  }
  .sec3_best_wrap_text p:last-child {
    /* 가격 */
    font-size: clamp(12px, 18px, 22px);
  }
  .sec3_best_wrap_text p:first-child {
    /* 상품명 */
    font-size: clamp(10px, 16px, 20px);
  }
  /* --------------------sec3 끝-------------------- */

  /* sec4 */
  .sec4_wrap {
    width: 92%;
    margin: 100px auto;
  }
  .sec4_wrap h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: var(--mo-lg-font-size);
  }
  .sec4_fav_wrap {
    gap: 20px;
  }
  .sec4_fav_content {
    width: clamp(170px, 48vw, 300px);
    height: 300px;
  }
  .sec4_fav_content img {
    height: 130px;
  }
  .sec4_fav_content .detail_box {
    display: none;
  }
  .sec4_fav_content_text {
    width: 100%;
    height: 150px;
    padding: 20px;
  }
  .sec4_fav_content_text a > p:first-child {
    margin-bottom: 6px;
    letter-spacing: 0;
    font-size: 12px;
  }
  .sec4_fav_content_text a > p:nth-child(2) {
    font-size: var(--mo-ml-font-size);
    margin: 0 auto;
    width: 100%;
    height: 55px;
    margin-bottom: auto;
  }
  /* 가격 */
  .sec4_fav_content_text a > p:last-child {
    font-size: 18px;
    text-align: end;
  }
  /* --------------------sec4 끝-------------------- */
  /* 푸터 */
  .footer_wrap {
    height: 180px;
    padding: 60px;
    flex-direction: column;
  }
  .footer_wrap img {
    width: 70%;
    margin: 0 auto;
  }
  .footer_text_wrap {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .footer_text_wrap a {
    color: var(--sub-text-color);
    font-size: var(--mo-xs-font-size);
  }
  footer p {
    color: var(--sub-text-color);
    font-size: var(--mo-xs-font-size);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  /* 헤더 */
  h1 {
    width: 120px;
  }
  .submenu {
    display: none;
  }
  #gnb:hover {
    border: none;
  }
  #gnb > ul > li {
    width: 80px;
  }
  #gnb > ul > li a {
    font-size: 16px;
  }
  .header_chips p > a {
    padding: 6px 12px;
  }
  .submenu,
  #gnb > ul > li > a::after {
    display: none;
  }
  /* 헤더 끝 */
}

@media screen and (min-width: 1364px) and (max-width: 1440px) {
  .sec2_wrap {
    width: 70%;
  }
}

@media screen and (min-width: 1250px) and (max-width: 1440px) {
  .sec3_wrap {
    width: 75%;
  }
  .sec4_wrap {
    width: 78%;
  }
}

/* PC */
@media screen and (min-width: 1441px) {
}
